#slideshow
  #slidesContainer
    .slide
      .slide-block.first
        %a{ :href => "images/fullscreen/one.jpg", :title => "Description", :rel => "prettyPhoto[gallery]" }
          %img{ :src => "/images/application/work_slide_one.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
      .slide-block
        %a{ :href => "images/fullscreen/two.jpg", :title => "Description", :rel => "prettyPhoto[gallery]" }
          %img{ :src => "/images/application/work_slide_two.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
      .slide-block.last
        %a{ :href => "images/fullscreen/three.jpg", :title => "Description", :rel => "prettyPhoto[gallery]" }
          %img{ :src => "/images/application/work_slide_three.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
    .slide
      .slide-block.first
        %a{ :href => "images/fullscreen/two.jpg", :title => "Description", :rel => "prettyPhoto" }
          %img{ :src => "/images/application/work_slide_two.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
      .slide-block
        %a{ :href => "images/fullscreen/one.jpg", :title => "Description", :rel => "prettyPhoto" }
          %img{ :src => "/images/application/work_slide_three.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
      .slide-block.last
        %a{ :href => "images/fullscreen/three.jpg", :title => "Description", :rel => "prettyPhoto" }
          %img{ :src => "/images/application/work_slide_one.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
    .slide
      .slide-block.first
        %a{ :href => "images/fullscreen/one.jpg", :title => "Description", :rel => "prettyPhoto" }
          %img{ :src => "/images/application/work_slide_one.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
      .slide-block
        %a{ :href => "images/fullscreen/two.jpg", :title => "Description", :rel => "prettyPhoto" }
          %img{ :src => "/images/application/work_slide_two.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website
      .slide-block.last
        %a{ :href => "images/fullscreen/three.jpg", :title => "Description", :rel => "prettyPhoto" }
          %img{ :src => "/images/application/work_slide_three.png", :alt => "Picture Title" }
        %a.button-launch-website{ :href => "#" }
          Launch Website