#header
  .center
    #logo
      %a{ :href => "/", :title => "Internet Enabled" } Internet Enabled
      -#%img{ :src => "images/application/logo.png", :alt => "Internet Enabled Logo" }
    %ul#navigation
      %li
        %a{ :href => "#home" }
          Home
      %li
        %a{ :href => "#about" }
          About
      %li
        %a{ :href => "#facts" }
          Facts
      %li
        %a{ :href => "#community" }
          Community
      %li
        %a{ :href => "#participate" }
          Participate