/ http://spigotdesign.com/wp-content/uploads/2008/11/ie6trash.png
/ speed comparison http://www.pcgameshardware.com/?menu=browser&article_id=687738&image_id=1002727
/ icons http://www.smashingmagazine.com/2007/08/25/20-free-and-fresh-icon-sets/
/ icons http://lazycrazy.deviantart.com/
/ emoticons http://lazycrazy.deviantart.com/art/Very-Emotional-Emoticons-144461621
/ icons http://medialoot.com/blog/incredibly-detailed-free-icons-set/